<% content_for(:page_header) {'Edit your bio'} %>

<%= form_tag controller: "users", action: "update", method: "post" %>
<%= render 'shared/errors', object: @about %>

<div class="form-group">
	<%= label_tag :bio %>
	<%= text_area_tag(:bio, {placeholder: '150 words or less..', class: 'form-control'}, size: "50x1") %>
</div>

 <%= submit_tag 'Create', class: 'btn btn-primary btn-lg' %>

