<% content_for(:page_header) {'Edit your bio'} %>

<%= form_tag controller: "users", action: "update", method: "post" %>
<%= render 'shared/errors', object: @about %>

<div class="form-group">
	<%= label_tag :bio %>
	<% if @about.bio.nil? || @about.bio.blank? %>
	<%= text_area_tag :bio, '', autocomplete: "off", class: "form-control", placeholder: "Use 150 words or less..." %>
	<% else %>
	<%= text_area_tag :bio, @about.bio, autocomplete: "off", class: "form-control" %>
	<% end %>
</div>

<div class="form-group">
	<%= label_tag :age %>
	<% if @about.age.nil? || @about.age.blank? %>
	<%= text_area_tag :age, '', autocomplete: "off", class: "form-control", placeholder: "Optional", size: '1x1' %>
	<% else %>
	<%= text_area_tag :age, @about.age, autocomplete: "off", class: "form-control" %>
	<% end %>
</div>

<div class="form-group">
    <%= label_tag :Profile_picture %>
    <br />
    <div class="col-sm-6">
        <%= file_field_tag :avatar %>
    </div>
</div>
<br />
<div class="form-group">
	<%= label_tag :Public_Profile %>
	<br />
	<%= label_tag :yes %>
	<%= radio_button_tag :is_public, true, !!(@user.is_public?) %>
	<br />
	<%= label_tag :no %>
	<%= radio_button_tag :is_public, false, !!(@user.is_private?) %>
</div>

 <%= submit_tag 'Create', class: 'btn btn-primary btn-lg' %>


