<% content_for(:page_header) do %>
  <% if @user.avatar_file_name.nil? %>
	 <%= image_tag @user.image_url, alt: @user.name %>
  <% else %>
   <%= image_tag @user.avatar_file_name, :size => "70x70", alt: @user.name %>
  <% end %>
	<% if @user == current_user %>
		<%= "My Profile" %> | <%= link_to 'Messages', conversations_path(current_user) %>
		<p style="font-size:14px;margin-top:10px;">I voted <%= @user.how_many_votes %> times and created <%= @user.polls.count %> polls.</p>
    <% if @user.about_me.nil? || !@user.about_me.present? %>
      <p style="font-size:14px;margin-top:10px;"><%= link_to 'Add Bio', edit_user_path(current_user) %></p>
      <p style="font-size:14px;margin-top:10px;">| <%= link_to 'Manage Polls', manage_user_path(current_user) %> |</p>
    <% else %>
      <p style="font-size:14px;margin-top:10px;">About Me: <i><%= @user.about_me.bio %></i> | <%= link_to 'Edit Bio', edit_user_path(current_user) %> |</p>
      <p style="font-size:14px;margin-top:10px;">Age: <i><%= @user.try(:age) %> years old</i></p>
      <p style="font-size:14px;margin-top:10px;">| <%= link_to 'Manage Polls', manage_user_path(current_user) %> |</p>
    <% end %>
    <p>
    <div class="stats" style="font-size:15px">
      <%= link_to 'Following', following_user_path(current_user) %>
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      <%= link_to 'Followers', followers_user_path(current_user) %>
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
  </div>
	<% else %>
		<%= "#{@user.name}'s Profile"%>
		<p style="font-size:14px;margin-top:10px;">Voted <%= @user.how_many_votes %> times and created <%= @user.polls.count %> polls.</p>
    <p style="font-size:14px;margin-top:10px;">About <%= @user.first_name %>: <i><%= @user.about_me.try(:bio) %></i></p>
    <% if @user.age && @user.is_public %>
      <p style="font-size:14px;margin-top:10px;">Age: <i><%= @user.try(:age) %> years old</i></p>
    <% end %>
    <p>
    <div class="stats" style="font-size:15px">
      <%= link_to 'Following', following_user_path(@user) %>
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      <%= link_to 'Followers', followers_user_path(@user) %>
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
  </div>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow", class: "btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
	<% end %>
<% end %>

<% @user.vote_options.order(created_at: :desc).each do |option| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to option.poll.topic, poll_path(option.poll) %></div>
    <div class="panel-body">
      Voted for <b><%= option.title %></b>
      <%= option.votes.last.voted_when? %>
    </div>
  </div>
<% end %>