<%= form_tag votes_path, method: :post, remote: true, id: 'voting_form' do %>
  <%= hidden_field_tag 'poll[id]', @poll.id %>

  <%= render partial: 'polls/vote_option', collection: @poll.vote_options, as: :option %>

  <p><b>Total votes: <%= @poll.votes_summary %></b></p>

  <% if current_user.voted_for?(@poll) %>
    <p>You have already voted!</p>
    <% if current_user.voted_for?(@poll) && @poll.votes.count == 1 %>
    	<p>Users who also voted: You're the first!</p>
    <% else %>
    	<p>Users who also voted: <%= @poll.votes.joins(:user).where('users.id != ?', current_user.id).map(&:user).map(&:name).join(", ") %></p>
    <% end %>
  <% else %>
    <%= submit_tag 'Vote', class: 'btn btn-lg btn-primary' %>
  <% end %>
<% end %>


<br /><p>
<%= label_tag :Comments %><br />
<% @comments.each do |comment| %>
  <% if comment.poll.id == @poll.id %>
  <%= image_tag comment.user.image_url, :size => "25x25",alt: comment.user.name %>
  <b><%= link_to comment.user.name, user_path(comment.user) %></b>: <%= comment.body %><br /><p>
  <% end %>
<% end %>


<%= form_tag controller: "comments", action: "create_comment", method: "post" %>

  <div class="form-group">
    <%= text_area_tag :body, '', autocomplete: "off", class: "form-control", placeholder: "Use 150 words or less..." %>
  </div>

<%= submit_tag 'Post', class: 'btn btn-primary btn-sm' %>