<% content_for(:page_header) {"#{@polls.count} Most Recent Polls!"} %>

<%= link_to "Can't find a certain poll? Search here", search_path %>

<% @polls.try(:each) do |poll| %>
  <div class="well">
    <h2><%= poll.topic %></h2><h5>Total Votes: <%= poll.total_votes %></h5>
    <p>Posted: <%= poll.posted_at %></p>
    <% if poll.user %>
      <p>By: <%=link_to poll.created_by, user_path(poll.user) %></p>
    <% end %>
    <% unless poll.vote_options.empty? %>
      <%= poll.total_choices %> Choices:
      <% poll.vote_options.each do |vote| %>
          <% if current_user %>
            <a>| <%= link_to vote.title, poll_path(poll) %> |</a>
          <% else %>
            <a>| <%= link_to vote.title, '/auth/facebook' %> |</a>
          <% end %>
      <% end %>
    <% end %>
    <br /><br />

    <p>
      <% if current_user %>
        <%= link_to 'Participate!', poll_path(poll), class: 'btn btn-primary btn-md block' %>
      <% else %>
        Please sign in via <%= link_to 'Facebook', '/auth/facebook' %> to participate in this poll.
      <% end %>
    </p>
  </div>
<% end %>
